/*  COR-2021 | 1.0.9 | 211118 | assets/scss/partials/fontface.scss
//  SETUP-CHILD | 1.0.0 | 210616 | assets/scss/partials/fontface.scss
---------------------------------------------------------------------------------------------------- */

// -------------------------------------
// VARIABLES

// -------------------------------------
// EXTEND

// -------------------------------------
// SELECTORS

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-sansserif {
  font-family: sans-serif;
}

.font-ebgaramond {
  font-family: "EB Garamond", serif;
}

.font-serif {
  font-family: serif;
}