/* COR | 1.0.1 | 200804 | assets/scss/partials/navigation.scss
/* Navigation
---------------------------------------------------------------------------------------------------- */

.nav-primary,
.nav-secondary {

	background-color: #3768A0;

	.wrap {
	    max-width: map-get( $breakpoints, 'desktop' );
	    margin: 0 auto;
	}

	.mega-menu-toggle.mega-menu-open {
		border-bottom: 1px solid #eee;
	}

}

.nav-primary {

	.wrap {
		background-color: #234367;

		@include media("<=desktop") {
			background-color: #234367;
		}
	}
}

.nav-secondary {

	.wrap {
		background-color: #22558e;

		@include media("<=desktop") {
			background-color: #22558e;
		}
	}

}