/* COR | 1.0.0 | 200719 | assets/scss/partials/site-header.scss
// SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/site-header.scss
---------------------------------------------------------------------------------------------------- */

/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: $white;
	position: relative;
	min-height: 49px;
	background-color: #3768A0;

	.wrap {
		background-image: url(../images/siteheader2x.jpg);
		background-size: 1200px;
		background-position: top;
		background-color: black;
		min-height: 199px;
	}

}

.title-area {
	//float: left;
	//text-align: center;

	h1.site-title,
	p.site-title {
		background: url(../images/sprites2x.png) no-repeat -20px -18px;
		background-size: 1000px;
		font-size: 1.5rem;
		line-height: 1.875rem;
		font-weight: 700;
		width: 291px;
		height: 75px;
		display: block;

		a {
			width: 291px;
			height: 75px;
			display: block;
			color: transparent;
			text-decoration: none;
		}
	}

/*
	.site-title a {
	  	background: url(../icons/logo.svg) no-repeat center;
	  	background-size: contain;
		display: block;
		text-indent: -9999em;
		width: 100%;
		height: 0;
		padding-bottom: 139px / 623px * 100%;
	}
*/

	@include media("<=mobile_menu") {
		float: none;
		text-align: center;

		.site-title a {
			padding-bottom: 0;
			height: 48px;
			background-size: auto 42px;
		}
	}


}


/* Admin Bar
--------------------------------------------- */

@include media(">782px" ) {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<=782px") {
	#wpadminbar {
		display: none !important;
	}
}

/* Persistent Header
--------------------------------------------- */

@if( $persistent_desktop ) {
	@include media(">mobile_menu") {

		.site-container {
			padding-top: $persistent_desktop;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;
			height: $persistent_desktop;
		}

		@include media(">782px") {
			.admin-bar {

				.site-container {
					padding-top: 32px + $persistent_desktop;
				}

				.site-header {
					top: 32px;
				}
			}
		}
	}
}

@if( $persistant_mobile ) {
	@include media("<=mobile_menu") {

		.site-container {
			padding-top: $persistant_mobile;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;

			overflow: scroll;
			max-height: 100vh;
		}

		@include media(">782px") {
			.admin-bar {

				.site-container {
					padding-top: 32px + $persistant_mobile;
				}

				.site-header {
					top: 32px;
				}
			}
		}

	}
}
