/* COR-2020 | 1.0.1 | 200805 | assets/scss/partials/site-footer.scss
// SETUP-BE | 1.0.0 | 200422 | assets/scss/partials/site-footer.scss
---------------------------------------------------------------------------------------------------- */

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {

	background-color: #3768A0;
	margin-bottom: 2rem;

	.wrap {
	    max-width: map-get( $breakpoints, 'desktop' );
	    margin: 0 auto;
		padding-left:  ($grid-gap / 2);
		padding-right: ($grid-gap / 2);
		@include clearfix;

		padding: 2rem;
		background: #a8c3e1;
		color: #1072b6;

		@include media("<=desktop") {
			padding-left: $grid-gap;
			padding-right: $grid-gap;
		}

		@include media(">smaller") {
			@include columns(2);
		}

		@include media(">small") {
			@include columns(3);
		}

		&::before {
			@include media(">smaller") {
				grid-column: span 2;
			}

			@include media(">small") {
				grid-column: span 3;
			}			
		}

	}

	a {
		color: #1072b6;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		> a {
			text-decoration: underline;
		}
	}

	ul {
		margin-bottom: 1rem;
	}

	li {
		list-style-type: none;
		//margin-bottom: 0.875rem;
	}

	& .footer-widgets-1 {
		@include media("<=medium") {
			.widget:first-child {
				margin-top: 0;
			}
		}
	}

	& .footer-widgets-2 {
		@include media("<=small") {
			.widget:first-child {
				margin-top: 0;
			}
		}
		@include media("<=smaller") {
			.widget:first-child {
				margin-top: 2rem;
			}
		}
	}

	& .footer-widgets-1,
	& .footer-widgets-2,
	& .footer-widgets-3 {
		@include media(">small") {
			.widget:first-child {
				margin-top: 0;
			}
		}
	}

	.widget {
		@include media("<=medium") {
			margin-top: 2rem;
		}
	}

	.widget-title {
		color: white;
		text-transform: uppercase;
	}

}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	.module.copyright {
		.item.logo {}
		.item.info {}
	}
	.module.credit {
		.item.info {}
		.item.logo {}
	}
}

.site-footer {

	// BACKGROUND
	background: brand-color( 'lightgrey' );

	// SPACING
	padding-top: 2rem;
	padding-bottom: 5rem;

	// SHADOW
	-webkit-box-shadow: inset 5px 15px 10px -15px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 5px 15px 10px -15px rgba(0,0,0,0.15);
	box-shadow: inset 5px 15px 10px -15px rgba(0,0,0,0.15);

	.wrap > *:last-child {
		margin-bottom: 0;
	}

	// COPYRIGHT
	.module.copyright {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;

		.info {
			align-self: center;
			@include font-sizes( 0.875rem, 1rem );
		}
		.logo {
			align-self: center;
		}

	}

	// CREDIT
	.module.credit {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;

		.info {
			align-self: center;
			font-size: 0.875rem;
		}
		.logo {
			margin-top: 1rem;
			font-size: 0.875rem;
			align-self: center;
		}

	}

}
