/* COR | 1.0.9 | 210824 | assets/scss/partials/widget.scss
// SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/widget.scss
---------------------------------------------------------------------------------------------------- */

.widget {

	//margin-bottom: 2rem;

	@include media(">=tablet") {
		//margin-bottom: 2rem;
	}

	.sidebar-primary & {
		@extend %box-floatingbox !optional;
		margin-bottom: 1.5rem;
	}

	.module.loginfo & {
		@extend %box-floatingbox !optional;
		margin-bottom: 1.5rem;
	}

	.module.subscribe & {
		@extend %box-floatingbox !optional;
		margin-bottom: 1.5rem;
	}

}

.widget:first-child {

	.sidebar & {
		margin-top: 0;
	}
	.footer-widgets & {}

}

.widget-title {

	font-size: .875rem;
	font-weight: 700;
	text-transform: uppercase;
	// COR
	color: #ffcc00;
	background-color: #333;
	padding: 5px 5px 5px 8px;
	margin-bottom: 1rem;

	.sidebar & {}
	.footer-widgets & {
		background-color: transparent;
		color: #1072b6;
		padding: 0;
	}

	@include media(">=tablet") {}

}