/* COR | 1.0.1 | 200729 | assets/scss/partials/widget.scss
// SETUP-BE | 1.0.0 | 200326 | assets/scss/partials/widget.scss
---------------------------------------------------------------------------------------------------- */

.widget {

	margin-top: 2rem;

	@include media(">=tablet") {
		margin-top: 2rem;
	}

	.sidebar-primary & {
		//padding: 0 1.5rem 1.5rem 0;
		//box-shadow: 2px 2px 2px 0px #bbbbbb;
		padding: 1.5rem;
		//border: 1px solid #f9f9f9;
		box-shadow: 1px 1px 2px 0px #bbbbbb;
		background-color: #f9f9f9;
	}

}

.widget:first-child {

	.sidebar & {
		margin-top: 0;
	}
	.footer-widgets & {}

}

.widget-title {

	font-size: .875rem;
	font-weight: 700;
	text-transform: uppercase;
	// COR
	color: #ffcc00;
	background-color: #333;
	padding: 5px 5px 5px 8px;
	margin-bottom: 1rem;

	.sidebar & {}
	.footer-widgets & {
		background-color: transparent;
		color: #1072b6;
		padding: 0;
	}

	@include media(">=tablet") {}

}