/* BASE_230 | VARIABLES | 230_BASE > COR | FONTFAMILY - 2017-7-26 */

// -------------------------------------
// VARIABLES

// RELATIVE

	$fontfamily-compact:				"Lato",arial,sans-serif;
	$fontfamily-narrow:					"Lato","Roboto Condensed",arial,sans-serif;
	$fontfamily-regular:				"Lato","Roboto",arial,sans-serif;
	$fontfamily-wide:					"Lato",arial,sans-serif;
	$fontfamily-script:					"Lato","Dancing Script",cursive,sans-serif;

// DEFAULT (HTML)

	$fontfamily-default:				"Lato","Roboto",arial,sans-serif;

// BODY

	$fontfamily-body:					arial,sans-serif;

// HEADLINE

	$fontfamily-headline:				"Lato",arial,sans-serif;

// PARAGRAPH

	$fontfamily-paragraph:				null;

// LIST

	$fontfamily-list:					null;

// BLOCKQUOTE

	$fontfamily-blockquote:				"Lato",arial,sans-serif;

// CITE

	$fontfamily-caption:				null;

// BREADCRUMB

	$fontfamily-breadcrumb:				"Lato",arial,sans-serif;

// META

	$fontfamily-meta:					"Lato",arial,sans-serif;

// ENTRY

	$fontfamily-entrytitle:				"Lato",arial,sans-serif;
	$fontfamily-entrymeta:				"Lato",arial,sans-serif;

	// SINGLE
	$fontfamily-single-entrytitle:		null;
	$fontfamily-single-entrymeta:		null;

	// PAGE
	$fontfamily-page-entrytitle:		null;
	$fontfamily-page-entrymeta:			null;

	// ARCHIVE
	$fontfamily-archive-entrytitle:		null;
	$fontfamily-archive-entrymeta:		null;

	// BLOG
	$fontfamily-blog-entrytitle:		null;
	$fontfamily-blog-entrymeta:			null;

// REPLY

	$fontfamily-replytitle:				null;

// WIDGET

	$fontfamily-widgettitle:			null;

// ARCHIVE

	$fontfamily-archivetitle:			null;
	$fontfamily-archivedescription:		null;

// HEADER

	$fontfamily-sitetitle:				"Lato","Roboto",arial,sans-serif;
	$fontfamily-sitedescription:		"Lato","Roboto",arial,sans-serif;

// COPYRIGHT

	$fontfamily-copyright:				null;

// MENU

	$fontfamily-menu:					null;
	$fontfamily-submenu:				null;
	$fontfamily-menu-primary:			"Lato",arial,sans-serif;
	$fontfamily-submenu-primary:		null;
	$fontfamily-menu-secondary:			"Lato",arial,sans-serif;
	$fontfamily-submenu-secondary:		null;
	$fontfamily-menuitem:				null;