/* BASE_230 | LAYOUT | 250_COR | BODY - 2017-06-26 */

// -------------------------------------
// EXTEND

	// HTML

	%html_layout {}

	// BODY

	%body_layout {
		font-family: $fontfamily-body;
		color: $color-body;
		background-color: #3768A0;
		line-height: $lineheight-body;
	}


// -------------------------------------
// SELECTORS

	// HTML

	html {
		@extend %html_layout !optional;
	}

	// BODY

	body {
		@extend %body_layout !optional;
	}