/* BASE_230 | LAYOUT | 250_COR | FOOTER - 2017-07-24 */
// BASE_230 | FOOTER | 230_BASE

// -------------------------------------
// EXTEND

	// SITE-FOOTER

	%sitefooter_layout {
		@extend %clearfix !optional;
	}
	%sitefooterwrap_layout {}
	%sitefooterwraponly_layout {
		@extend %clearfix !optional;
		padding-top: 1rem;

		// BASEUP
		@include responsive-range(baseup) {
			max-width: #{$width-base}rem;
			margin-left: auto;
			margin-right: auto;
			//padding-bottom: 1rem;
		}
		// BASEDOWN
		@include responsive-range(basedown) {}
		// LARGEBELOWDOWN
		@include responsive-range(lrgbelowdown) {}
		// MEDBELOWDOWN
		@include responsive-range(medbelowdown) {
			padding: 1rem;
		}

		@extend %responsive-layout-max !optional;
	}

	// FOOTER-WIDGETS

	%footerwidgets_layout {
		@extend %clearfix !optional;
		background-color: #a8c3e1;
		padding: 1rem;
	}
	%footerwidgetswrap_layout {}
	%footerwidgetswraponly_layout {
		@extend %clearfix !optional;

		// BASEUP
		@include responsive-range(baseup) {
			max-width: #{$width-base}rem;
			margin-left: auto;
			margin-right: auto;
		}
		// BASEDOWN
		@include responsive-range(basedown) {}

		@extend %responsive-layout-max !optional;
	}

	%footerwidgets1_layout {
		@extend %clearfix !optional;

		// BASEUP
		@include responsive-range(baseup) {
			width: 32%;
			margin-right: 2%;
			float: left;
		}
		// BASEDOWN
		@include responsive-range(basedown) {
			width: 32%;
			margin-right: 2%;
			float: left;
		}

		@extend %responsive-layout-max !optional;
	}

	%footerwidgets2_layout {
		@extend %clearfix !optional;

		// BASEUP
		@include responsive-range(baseup) {
			width: 32%;
			margin-right: 2%;
			float: left;
		}
		// BASEDOWN
		@include responsive-range(basedown) {
			width: 32%;
			margin-right: 2%;
			float: left;
		}

		@extend %responsive-layout-max !optional;
	}

	%footerwidgets3_layout {
		@extend %clearfix !optional;

		// BASEUP
		@include responsive-range(baseup) {
			width: 32%;
			float: left;
		}
		// BASEDOWN
		@include responsive-range(basedown) {
			width: 32%;
			float: left;
		}

		@extend %responsive-layout-max !optional;
	}


// -------------------------------------
// SELECTORS

	// SITE-FOOTER

	.site-footer {
		@extend %sitefooter !optional;
		@extend %sitefooter_layout !optional;

		.wrap {
			@extend %sitefooterwrap !optional;
			@extend %sitefooterwrap_layout !optional;
		}
	}
	.site-footer > .wrap {
		@extend %sitefooterwraponly !optional;
		@extend %sitefooterwraponly_layout !optional;
	}

	// FOOTER-WIDGETS

	.footer-widgets {
		@extend %footerwidgets !optional;
		@extend %footerwidgets_layout !optional;

		.wrap {
			@extend %footerwidgetswrap !optional;
			@extend %footerwidgetswrap_layout !optional;
		}
	}
	.footer-widgets > .wrap {
		@extend %footerwidgetswraponly !optional;
		@extend %footerwidgetswraponly_layout !optional;
	}

	.footer-widgets-1 {
		@extend %footerwidgets1 !optional;
		@extend %footerwidgets1_layout !optional;
	}

	.footer-widgets-2 {
		@extend %footerwidgets2 !optional;
		@extend %footerwidgets2_layout !optional;
	}

	.footer-widgets-3 {
		@extend %footerwidgets3 !optional;
		@extend %footerwidgets3_layout !optional;
	}