/* BASE_230 | LAYOUT | 250_COR | HEADER - 2017-06-26 */
// BASE_230 | HEADER | 230_BASE

// -------------------------------------
// EXTEND

	// SITE-HEADER

	%siteheader_layout {
		@extend %clearfix !optional;
	}
	%siteheaderwrap_layout {}
	%siteheaderwraponly_layout {
		@extend %clearfix !optional;
		background-image: url("images/siteheader.jpg");
		background-position: top left;
		background-repeat: no-repeat;
		height: 199px;
		
		// 2X
		@media (-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi) {
			background-image: url("images/siteheader2x.jpg");
			background-size: 1200px;
		}
		// BASEUP
		@include responsive-range(baseup) {
			//max-width: #{$width-base}rem;
			//margin-left: auto;
			//margin-right: auto;
			//padding-top: 1rem;
			//padding-bottom: 1rem;
		}
		// BASEDOWN
		@include responsive-range(basedown) {
			background-position: top center;
			//padding: 1rem;
		}
		// MEDDOWN
		@include responsive-range(meddown) {
			background-size: cover;
			max-height: 120px;
		}
	}

	// HEADER-WIDGET-AREA

	%headerwidgetarea_layout {
		@extend %clearfix !optional;
	}

	// TITLE-AREA

	%titlearea_layout {
		@extend %clearfix !optional;
	}

	// SITE-TITLE

	%sitetitle_layout {
		@extend %clearfix !optional;
		font-family: $fontfamily-sitetitle;				// fontfamily
		font-size: #{$fontsize-sitetitle}rem;			// fontsize
		font-weight: $fontweight-thick;
		line-height: 1;
		margin-top: 40px;
		margin-bottom: 0;
		margin-left: 20px;
		background-image: url("images/sprites.png");
		background-position: -20px -18px;
		background-repeat: no-repeat;
		width: 292px;
		height: 75px;
		display: inline-block;

		// 2X
		@media (-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi) {
			background-image: url("images/sprites2x.png");
			background-size: 1000px;
		}
		// MEDDOWN
		@include responsive-range(meddown) {
			width: 226px;
			height: 59px;
			margin-top: 25px;
			background-position: -355px -18px;
		}
	}
	%sitetitle-a_layout {
		@extend %clearfix !optional;
		width: 292px;
		height: 75px;
		display: block;
		text-indent: -9999px;
		color: transparent;
		overflow: hidden;
	}
	%sitetitle-hvr_layout {}

	// SITE-DESCRIPTION

	%sitedescription_layout {
		@extend %clearfix !optional;
		font-family: $fontfamily-sitedescription;		// fontfamily
		font-size: #{$fontsize-sitedescription}rem;		// fontsize
		font-weight: $fontweight-thin;
		line-height: 1;
		//margin-top: 0.5rem;
		margin-bottom: 0;
		display: none;
	}


// -------------------------------------
// SELECTORS

	// SITE-HEADER

	.site-header {
		@extend %siteheader !optional;
		@extend %siteheader_layout !optional;
		
		.wrap {
			@extend %siteheaderwrap !optional;
			@extend %siteheaderwrap_layout !optional;
		}
	}
	.site-header > .wrap {
		@extend %siteheaderwraponly !optional;
		@extend %siteheaderwraponly_layout !optional;
	}

	// HEADER-WIDGET-AREA

	.header-widget-area {
		@extend %headerwidgetarea !optional;
		@extend %headerwidgetarea_layout !optional;
	}

	// TITLE-AREA

	.title-area {
		@extend %titlearea !optional;
		@extend %titlearea_layout !optional;
	}

	// SITE-TITLE

	.site-title {
		@extend %sitetitle !optional;
		@extend %sitetitle_layout !optional;

		a {
			@extend %sitetitle-a !optional;
			@extend %sitetitle-a_layout !optional;
		}
		a:hover {
			@extend %sitetitle-hvr !optional;
			@extend %sitetitle-hvr_layout !optional;
		}
	}

	// SITE-DESCRIPTION

	.site-description {
		@extend %sitedescription !optional;
		@extend %sitedescription_layout !optional;
	}