/* BASE_230 | ITEM | 230_COR | ITEM-FOCUS - 2016-12-30 */

// -------------------------------------
// SILENT CLASS
// -------------------------------------

	%item-focus {
		border: 5px solid #ccc;
		padding: #{$space-default}rem;
		margin: 0;
		margin-bottom: #{$space-default}rem;
		box-sizing: border-box;
		font-weight: $fontweight-default;
		background-color: #f7f7f7;
	}

// -------------------------------------
// CODE
// -------------------------------------

	.item-focus {
		@extend %item-focus !optional;
	}