/* BASE_230 | LAYOUT | 230_BASE | BODY - 2017-01-12 */

// -------------------------------------
// EXTEND

	// HTML

	%html_layout {}

	// BODY

	%body_layout {
		font-family: $fontfamily-body;
		color: $color-body;
		background-color: $bgcolor-body;
		line-height: $lineheight-body;
	}


// -------------------------------------
// SELECTORS

	// HTML

	html {
		@extend %html !optional;
		@extend %html_layout !optional;
	}

	// BODY

	body {
		@extend %body !optional;
		@extend %body_layout !optional;
	}