/* BASE_230 | LAYOUT | 230_BASE | CS - 2016-07-13 */

// -------------------------------------
// EXTEND

	%cs-csw_layout {
		float: left;
		width: 100%;
		@extend %responsive-layout-max !optional;
	}

	%cs-content_layout {
		float: left;
		width: 70%;
		@extend %responsive-layout-max !optional;
	}

	%cs-sidebarprimary_layout {
		float: right;
		width: 30%;
		@extend %responsive-layout-max !optional;
	}

// -------------------------------------
// SELECTORS

	.content-sidebar .content-sidebar-wrap {
		@extend %cs-csw_layout !optional;
	}

	.content-sidebar .content {
		@extend %cs-content_layout !optional;
	}

	.content-sidebar .sidebar-primary {
		@extend %cs-sidebarprimary_layout !optional;
	}