/* BASE_230 | LAYOUT | 230_BASE | HEADER - 2016-07-11 */

// -------------------------------------
// EXTEND

	// SITE-HEADER

	%siteheader_layout {
		@extend %clearfix !optional;
	}
	%siteheaderwrap_layout {}
	%siteheaderwraponly_layout {
		@extend %clearfix !optional;
	}

	// HEADER-WIDGET-AREA

	%headerwidgetarea_layout {
		@extend %clearfix !optional;
	}

	// TITLE-AREA

	%titlearea_layout {
		@extend %clearfix !optional;
	}

	// SITE-TITLE

	%sitetitle_layout {
		font-family: $fontfamily-sitetitle;
		@extend %clearfix !optional;
	}
	%sitetitle-a_layout {
		@extend %clearfix !optional;
	}
	%sitetitle-hvr_layout {}

	// SITE-DESCRIPTION

	%sitedescription_layout {
		font-family: $fontfamily-sitedescription;
		@extend %clearfix !optional;
	}


// -------------------------------------
// SELECTORS

	// SITE-HEADER

	.site-header {
		@extend %siteheader !optional;
		@extend %siteheader_layout !optional;
		
		.wrap {
			@extend %siteheaderwrap !optional;
			@extend %siteheaderwrap_layout !optional;
		}
	}
	.site-header > .wrap {
		@extend %siteheaderwraponly !optional;
		@extend %siteheaderwraponly_layout !optional;
	}

	// HEADER-WIDGET-AREA

	.header-widget-area {
		@extend %headerwidgetarea !optional;
		@extend %headerwidgetarea_layout !optional;
	}

	// TITLE-AREA

	.title-area {
		@extend %titlearea !optional;
		@extend %titlearea_layout !optional;
	}

	// SITE-TITLE

	.site-title {
		@extend %sitetitle !optional;
		@extend %sitetitle_layout !optional;

		a {
			@extend %sitetitle-a !optional;
			@extend %sitetitle-a_layout !optional;
		}
		a:hover {
			@extend %sitetitle-hvr !optional;
			@extend %sitetitle-hvr_layout !optional;
		}
	}

	// SITE-DESCRIPTION

	.site-description {
		@extend %sitedescription !optional;
		@extend %sitedescription_layout !optional;
	}