/* BASE_230 | ITEM | 250_COR | ITEM-CTA - 2018-02-28 */

// -------------------------------------
// UNIVERSAL
// -------------------------------------


// -------------------------------------
// SILENT CLASS
// -------------------------------------

// CTA-COACHINGPHONE

	%cta-image {
		background-image: url("images/sprites.png");
		background-repeat: no-repeat;
		display: block;

		@media (-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi) {
			background-image: url("images/sprites2x.png");
			background-size: 1000px;
		}
	}

	%cta-box {
		width: 100px;
		height: 100px;
		//display: block;
	}
	%cta-icon {
		width: 40px;
		height: 40px;
	}
	%cta-box-width {
		max-width: 100px;
	}

// CTA-COACHINGPHONE

	%cta-coachingphone {
		background-position: -675px -140px;
	}
	%cta-coachingphone-icon {
		background-position: -275px -353px;
	}

// CTA-COACHINGEMAIL

	%cta-coachingemail {
		background-position: -675px -15px;
	}
	%cta-coachingemail-icon {
		background-position: -320px -353px;
	}

// CTA-BOOKPAPERBACK

	%cta-bookpaperback {
		background-position: -675px -265px;
	}
	%cta-book2paperback {
		background-position: -895px -265px;
	}
	%cta-bookpaperback-icon {
		background-position: -230px -303px;
	}
	%cta-bookpaperback-amazon {
		background-position: -357px -463px;
		width: 120px;
		height: 241px;
	}

// CTA-BOOKEBOOK

	%cta-bookebook {
		background-position: -675px -390px;
	}
	%cta-book2ebook {
		background-position: -895px -390px;
	}
	%cta-bookebook-icon {
		background-position: -275px -303px;
	}
	%cta-bookebook-amazon {
		background-position: -228px -463px;
		width: 120px;
		height: 241px;
	}

// CTA-AUDIOBOOK

	%cta-bookaudio {
		background-position: -675px -515px;
	}
	%cta-book2audio {
		background-position: -895px -515px;
	}
	%cta-bookaudio-icon {
		background-position: -320px -303px;
	}
	%cta-bookaudio-amazon {
		background-position: -486px -463px;
		width: 120px;
		height: 241px;
	}

// CTA-BOOKCOMBINED

	%cta-bookcombined {
		background-position: -785px -265px;
	}
	%cta-bookuniversal {
		background-position: -785px -390px;
	}

// CTA-PAYPAL

	%cta-donate {
		background-position: -675px -640px;
	}
	%cta-donate-icon {
		background-position: -230px -353px;
	}
	%cta-buy-paypalbutton {
		background-position: -464px -177px;
		width: 174px;
		height: 101px;
	}
	%cta-donate-paypalbutton {
		background-position: -464px -284px;
		width: 174px;
		height: 101px;
	}

// LOGOS

	%cta-amazon {
		background-position: -676px -749px;
		width: 84px;
		height: 40px;
	}
	%cta-amazon-large {
		background-position: -501px -722px;
		width: 125px;
		height: 59px;
	}
	%cta-paypal {
		background-position: -465px -94px;
		width: 98px;
		height: 25px;
	}
	%cta-audible {
		background-position: -386px -727px;
		width: 100px;
		height: 41px;
	}
	%cta-audible-large {
		background-position: -228px -718px;
		width: 150px;
		height: 62px;
	}
	%cta-ibooks {
		background-position: -20px -496px;
		width: 114px;
		height: 40px;
	}
	%cta-itunes {
		background-position: -21px -545px;
		width: 110px;
		height: 41px;
	}
	%cta-kindle {
		background-position: -228px -425px;
		width: 120px;
		height: 26px;
	}
	%cta-lulu {
		background-position: -151px -499px;
		width: 50px;
		height: 35px;
	}

// TRIANGLE

	%cta-triangle {
		width: 0;
		height: 0;
		border-top: 2px solid transparent;
		border-left: 4px solid red;
		border-bottom: 2px solid transparent;
	}


// -------------------------------------
// CODE
// -------------------------------------

// CTA-BOX

	.cta-box {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
	}
	.cta-box-width {
		@extend %cta-box-width !optional;
	}

// CTA-COACHINGPHONE

	.cta-coachingphone {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-coachingphone !optional;
	}
	.cta-coachingphone-icon {
		@extend %cta-image !optional;
		@extend %cta-icon !optional;
		@extend %cta-coachingphone-icon !optional;
	}

// CTA-COACHINGEMAIL

	.cta-coachingemail {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-coachingemail !optional;
	}
	.cta-coachingemail-icon {
		@extend %cta-image !optional;
		@extend %cta-icon !optional;
		@extend %cta-coachingemail-icon !optional;
	}

// CTA-BOOKPAPERBACK

	.cta-bookpaperback {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-bookpaperback !optional;
	}
	.cta-book2paperback {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-book2paperback !optional;
	}
	.cta-bookpaperback-icon {
		@extend %cta-image !optional;
		@extend %cta-icon !optional;
		@extend %cta-bookpaperback-icon !optional;
	}
	.cta-bookpaperback-amazon {
		@extend %cta-image !optional;
		@extend %cta-bookpaperback-amazon !optional;
	}

// CTA-BOOKEBOOK

	.cta-bookebook {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-bookebook !optional;
	}
	.cta-book2ebook {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-book2ebook !optional;
	}
	.cta-bookebook-icon {
		@extend %cta-image !optional;
		@extend %cta-icon !optional;
		@extend %cta-bookebook-icon !optional;
	}
	.cta-bookebook-amazon {
		@extend %cta-image !optional;
		@extend %cta-bookebook-amazon !optional;
	}

// CTA-BOOKAUDIO

	.cta-bookaudio {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-bookaudio !optional;
	}
	.cta-book2audio {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-book2audio !optional;
	}
	.cta-bookaudio-icon {
		@extend %cta-image !optional;
		@extend %cta-icon !optional;
		@extend %cta-bookaudio-icon !optional;
	}
	.cta-bookaudio-amazon {
		@extend %cta-image !optional;
		@extend %cta-bookaudio-amazon !optional;
	}

// CTA-BOOKCOMBINED

	.cta-bookcombined {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-bookcombined !optional;
	}
	.cta-bookuniversal {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-bookuniversal !optional;
	}

// CTA-DONATE

	.cta-donate {
		@extend %cta-image !optional;
		@extend %cta-box !optional;
		@extend %cta-donate !optional;
	}
	.cta-donate-icon {
		@extend %cta-image !optional;
		@extend %cta-icon !optional;
		@extend %cta-donate-icon !optional;
	}
	.cta-buy-paypalbutton {
		@extend %cta-image !optional;
		@extend %cta-buy-paypalbutton !optional;
	}
	.cta-donate-paypalbutton {
		@extend %cta-image !optional;
		@extend %cta-donate-paypalbutton !optional;
	}

// CTA-LOGOS

	.cta-amazon {
		@extend %cta-image !optional;
		@extend %cta-amazon !optional;
	}
	.cta-amazon-large {
		@extend %cta-image !optional;
		@extend %cta-amazon-large !optional;
	}
	.cta-paypal {
		@extend %cta-image !optional;
		@extend %cta-paypal !optional;
	}
	.cta-audible {
		@extend %cta-image !optional;
		@extend %cta-audible !optional;
	}
	.cta-audible-large {
		@extend %cta-image !optional;
		@extend %cta-audible-large !optional;
	}
	.cta-ibooks {
		@extend %cta-image !optional;
		@extend %cta-ibooks !optional;
	}
	.cta-itunes {
		@extend %cta-image !optional;
		@extend %cta-itunes !optional;
	}
	.cta-kindle {
		@extend %cta-image !optional;
		@extend %cta-kindle !optional;
	}
	.cta-kindle.height-40 {
		margin-bottom: 14px;
	}
	.cta-lulu {
		@extend %cta-image !optional;
		@extend %cta-lulu !optional;
	}

// CTA-TRIANGLE

	.cta-triangle {
		@extend %cta-triangle !optional;
	}
