/* BASE_230 | MENU | 230_COR | MENUITEM-FOOTER - 2017-07-24 */

// -------------------------------------
// EXTEND

	// MENU-ITEM
	%footerwidgets-menu-menuitem {
		font-size: 0.75rem;
		font-weight: 500;
		border-top: 1px solid #bbd0e8;
	}
	%footerwidgets-menu-menuitem-a {
		padding: 0.5rem;
		padding-left: 0;
		display: block;
	}
	%footerwidgets-menu-menuitem-hvr {}
		
		// LEVEL 1 MENU-ITEM
		%footerwidgets-menu-menuitemlvlone {}
		%footerwidgets-menu-menuitemlvlone-a {}
		%footerwidgets-menu-menuitemlvlone-hvr {}
		
		// MENU-ITEM MENU-ITEM-HAS-CHILDREN
		%footerwidgets-menu-menuitemhaschildren {}
		%footerwidgets-menu-menuitemhaschildren-a {}
		%footerwidgets-menu-menuitemhaschildren-hvr {}
		
		// SUB-MENU MENU-ITEM
		%footerwidgets-submenu-menuitem {}
		%footerwidgets-submenu-menuitem-a {}
		%footerwidgets-submenu-menuitem-hvr {}

// -------------------------------------
// SELECTORS

	// MENU-ITEM
	.footer-widgets .menu .menu-item {
		@extend %footerwidgets-menu-menuitem !optional;
	
		a {
			@extend %footerwidgets-menu-menuitem-a !optional;
		
			&:hover {
				@extend %footerwidgets-menu-menuitem-hvr !optional;
			}
		}
	}
		// LEVEL 1 MENU-ITEM
		.footer-widgets .menu > .menu-item {
			@extend %footerwidgets-menu-menuitemlvlone !optional;
		}
		.footer-widgets .menu > .menu-item > a {
			@extend %footerwidgets-menu-menuitemlvlone-a !optional;
		}
		.footer-widgets .menu > .menu-item > a:hover {
			@extend %footerwidgets-menu-menuitemlvlone-hvr !optional;
		}

		// MENU-ITEM.MENU-ITEM-HAS-CHILDREN
		.footer-widgets .menu-item.menu-item-has-children {
			@extend %footerwidgets-menu-menuitemhaschildren !optional;
		}
		.footer-widgets .menu-item.menu-item-has-children > a {
			@extend %footerwidgets-menu-menuitemhaschildren-a !optional;
		}
		.footer-widgets .menu-item.menu-item-has-children > a:hover {
			@extend %footerwidgets-menu-menuitemhaschildren-hvr !optional;
		}

		// .SUB-MENU MENU-ITEM
		.footer-widgets .sub-menu > .menu-item {
			@extend %footerwidgets-submenu-menuitem !optional;
		}
		.footer-widgets .sub-menu > .menu-item > a {
			@extend %footerwidgets-submenu-menuitem-a !optional;
		}
		.footer-widgets .sub-menu > .menu-item > a:hover {
			@extend %footerwidgets-submenu-menuitem-hvr !optional;
		}