/* SETUP | GRID | 250_SETUPBASIC | GRID - 2018-08-23 */

// -------------------------------------
// EXTEND

// DISPLAY GRID

	%grid-displaygrid {
		display: grid;
		//display: inline-grid;
		//display: subgrid;
	}

// GRID GAP

	%grid-gap {
		grid-gap: 1rem;
	}
		%grid-column-gap {
			grid-column-gap: 1rem;
		}
		%grid-row-gap {
			grid-row-gap: 1rem;
		}

// LISTSTYLE-ZERO

	%grid-liststyle {
		list-style-type: none;
		margin-left: 0;
	}

// FULL

	%grid-full {
		width: 100%;
		@extend %grid-liststyle !optional;
	}

// CLEARFIX

	%grid-clear-left {
		clear: left;
	}

	%grid-clear-right {
		clear: right;
	}

// HALF

	%grid-half {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

// THIRD

	%grid-third {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
	}

// FOURTH

	%grid-fourth {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
	}

// FIFTH

	%grid-fifth {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
	}

// SIXTH

	%grid-sixth {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
	}

// EIGHT

	%grid-eight {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: auto;
	}

// TWELVE

	%grid-twelve {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}

// -------------------------------------
// SELECTORS

// FULL

	.full {}

// HALF

	.half-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-half !optional;
		@extend %grid-gap !optional;
	}
	ul.half-grid {
		@extend %grid-liststyle !optional;
	}

// THIRD

	.third-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-third !optional;
		@extend %grid-gap !optional;
	}
	ul.third-grid {
		@extend %grid-liststyle !optional;
	}

// FOURTH

	.fourth-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-fourth !optional;
		@extend %grid-gap !optional;
	}
	ul.fourth-grid {
		@extend %grid-liststyle !optional;
	}

// FIFTH

	.fifth-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-fifth !optional;
		@extend %grid-gap !optional;
	}
	ul.fifth-grid {
		@extend %grid-liststyle !optional;
	}

// SIXTH

	.sixth-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-sixth !optional;
		@extend %grid-gap !optional;
	}
	ul.sixth-grid {
		@extend %grid-liststyle !optional;
	}

// EIGHT

	.eight-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-eight !optional;
		@extend %grid-gap !optional;
	}
	ul.eight-grid {
		@extend %grid-liststyle !optional;
	}

// TWELVE

	.twelve-grid {
		@extend %grid-displaygrid !optional;
		@extend %grid-twelve !optional;
		@extend %grid-gap !optional;
	}
	ul.twelve-grid {
		@extend %grid-liststyle !optional;
	}