/* SETUP | GRID | 250_SETUPBASIC | GUIDE - 2018-08-21 */

// -------------------------------------
// EXTEND

// GUIDE

	%column-guide {
		background-color: #fdffe7;
		//background-color: #ffd700;	//gold1
		margin-bottom: 5px;
	}
	%columnzerogutter-guide {
		background-color: #fdffe7;
		//background-color: #8b7500;	//gold4
		margin-bottom: 5px;
	}
	%grid-guide {
		background-color: #fdffe7;
		//background-color: #ffbbff;	//plum1
		margin-bottom: 5px;
	}
	%gridzerogutter-guide {
		background-color: #fdffe7;
		//background-color: #8b668b;	//plum4
		margin-bottom: 5px;
	}
	%push-guide {
		background-color: #fdffe7;
		//background-color: #ff4500;	//orangered1
	}
	%pushzerogutter-guide {
		background-color: #fdffe7;
		//background-color: #8b2500;	//orangered4
	}