/* SETUP | VARIABLES | 250_SETUPBASIC | LINEHEIGHT - 2018-08-17 */

// -------------------------------------
// VARIABLES

// DEFAULT

	$lineheight-default:				1.2;

// BODY

	$lineheight-body:					1.7;

// HEADLINE

	$lineheight-hx:						null;
	$lineheight-h1:						null;
	$lineheight-h2:						null;
	$lineheight-h3:						null;
	$lineheight-h4:						null;
	$lineheight-h5:						null;
	$lineheight-h6:						null;

// PARAGRAPH

	$lineheight-paragraph:				null;
	$lineheight-p:						null;	// OBSOLETE

// LIST

	$lineheight-ul:						null;
	$lineheight-ol:						null;
	$lineheight-li:						null;

// BLOCKQUOTE

	$lineheight-blockquote:				null;

// CITE

	$lineheight-cite:					null;

// CAPTION

	$lineheight-caption:				null;

// BREADCRUMB

	$lineheight-breadcrumb:				null;

// SCALE

	$lineheight-huge:					null;
	$lineheight-xlrg:					null;
	$lineheight-lrg:					null;
	$lineheight-med:					null;
	$lineheight-sml:					null;
	$lineheight-xsml:					null;
	$lineheight-xxsml:					null;
	$lineheight-xxxsml:					null;
	$lineheight-tiny:					null;

// PERCENTAGE

	$lineheight-half:					0.5;
	$lineheight-threefourth:			0.75;
	$lineheight-single:					1.0;
	$lineheight-onehalf:				1.6;
	$lineheight-onequarter:				1.25;
	$lineheight-onefifth:				1.2;
	$lineheight-double:					2.0;
	$lineheight-triple:					3.0;