/* BASE_227 | ITEM | 227_CORMAIN | ITEM-INSTAGRAM - 2016-05-31 */

// -------------------------------------
// SILENT CLASS
// -------------------------------------

	%img-instagram {}
	%img-instagramimage {
		display: block;
		max-width: 500px;
		height: auto;
		width: 100%;
	}

	%item-instagram {}
	%item-instagramimage {}

// -------------------------------------
// CODE
// -------------------------------------

	.img-instagram {
		@extend %img-instagram !optional;
	}
	.item-instagram {
		@extend %item-instagram !optional;
	}

	.img-instagram img {
		@extend %img-instagramimage !optional;
	}
	.item-instagram img {
		@extend %item-instagramimage !optional;
	}