/* BASE_227 | ITEM | 227_CORMAIN | ITEM-ICON - 2016-06-09 */

// -------------------------------------
// UNIVERSAL
// -------------------------------------

	%icon-image {
		background-image: url("images/sprites.png");
		background-repeat: no-repeat;
		display: block;

		@media (-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi) {
			background-image: url("images/sprites2x.png");
			background-size: 1000px;
		}
	}

	%icon-arrowright {
		background-position: -434px -422px;
		width: 12px;
		height: 12px;
		display: inline-block;
	}


// -------------------------------------
// SILENT CLASS
// -------------------------------------

	.icon-arrowright {
		@extend %icon-image !optional;
		@extend %icon-arrowright !optional;
	}