/* COR | 1.0.1 | 200720 | assets/scss/items/ads-urc.scss
---------------------------------------------------------------------------------------------------- */

.item.ads.below-header,
.item.ads.above-footer {

	background-color: #3768A0;

	.wrap {
		background-color: #f9f9f9;
		padding: 1rem;
	}

}

.item.ads.below-header {

	.wrap {}

}
.item.ads.above-footer {

	.wrap {}

}