/* COR | 1.0.3 | 201207 | assets/scss/items/cta.scss
---------------------------------------------------------------------------------------------------- */

.module.cta-main {
	.module-wrap {
		a.item.image.link {}
		.item.image.link {}
		.items.info {
			a.item.title.cta {}
			.item.title {}
			.item.info {}
			a.item.cta.button {}
			.item.cta.button {}
			a.item.cta.link {}
			.item.cta.link {}
		}
	}
}
.module.cta-icon {
	.items.info {
		line-height: 1.125;
	}
}

.group.grid-cta-icon {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	//padding: 1.5rem;

	@include media("<tablet") {
		grid-template-columns: repeat(2, 1fr);;
	}

	@include media("<smaller") {
		grid-template-columns: 1fr;
	}

	.singular.content & {
		grid-template-columns: 1fr;
		grid-column-gap: 0;

		@include media("<tablet") {
			grid-template-columns: 1fr;
		}

		@include media("<smaller") {}
	}
}

.module.cta-main .module-wrap {
	display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 1rem;
    padding: 1.5rem;
    padding-bottom: 0;

	@include media("<smaller") {
		grid-template-columns: 50px 1fr;
	}
}
.module.cta-icon .module-wrap {
	display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 1rem;
}

// TITLE
.item.title {

	.module.cta-main & {}
	.module.cta-icon & {
		// fontsize-small
		@include font-sizes( 1rem, 1.25rem );
		line-height: 1.125;
	}
}
a.item.title.link {
	color: #333;
	font-weight: 700;
	text-decoration: none;
}
a.item.title.link:link {
	color: #333;
}
a.item.title.link:hover {
	color: #666;
	text-decoration: none;
}

// CTA.BUTTON
a.item.cta.button {
	@extend %capsule !optional;
	border-radius:8px;
	@extend %padding-smaller-top !optional;
	@extend %padding-smaller-bottom !optional;
	@extend %padding-normal-left !optional;
	@extend %padding-normal-right !optional;

	text-decoration: none;
	color: white;
	background-color: red;
}
a.item.cta.button:link {
	.module.ctamain & {
		cursor: pointer;
	}
}
a.item.cta-button:hover {
	.module.ctamain & {
		cursor: pointer;
		background-color: darkred;
	}
}

// CTA.LINK
a.item.cta.link {
	.module.cta-icon & {
		font-size: 0.75rem;
	}
}
a.item.cta.link:link {
	.module.cta-icon & {}
}
a.item.cta.link:hover {}

// HIDE CTA ICONS
.hide-grid-cta-icons {
	.group.grid-cta-icon {
		display: none;
	}
}