/* COR | 1.0.1 | 201127 | assets/scss/items/mainfeature.scss
---------------------------------------------------------------------------------------------------- */

.module.mainfeature {
	position: relative;
	background-color: #000;

	.item.title {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		position: absolute;
		bottom: 0;
		left: 0;

		@include media("<=medium") {
			font-size: 2rem;
		}

		@include media("<=small") {
			font-size: 1.5rem;
		}

	}
	a.item.title.link {
		//width: 100%;
		text-decoration: none;
		padding: 0.5rem 1.5rem;
		display: block;
		color: white;
		background-color: rgba(0, 0, 0, 0.5);

		&:hover {
			color: white;
			background-color: rgba(0, 0, 0, 0.85);
		}
	}

}

.item-subscribe.cta-subscribe {
	padding: 1.5rem;
    background-color: #fff;
    //border: 1px solid #ccc;
    border: 10px solid #fc0;
    box-shadow: 2px 2px 2px 0px #bbbbbb;
    margin-bottom: 1.5rem;
}