/* BASE_226 | MENU | 226_CORMAIN | MENUITEM-SIDEBAR - 2016-04-12 */

// -------------------------------------
// FORMULA

	// MENU-ITEM
	// .sidebar .menu .menu-item
	%sidebar-menu-menuitem-formula {}
	%sidebar-menu-menuitem-a-formula {}
	%sidebar-menu-menuitem-hvr-formula {}
		
		// LEVEL 1 MENU-ITEM
		// .sidebar > .menu > .menu-item
		%sidebar-menu-menuitemlvlone-formula {}
		%sidebar-menu-menuitemlvlone-a-formula {}
		%sidebar-menu-menuitemlvlone-hvr-formula {}
		
		// MENU-ITEM MENU-ITEM-HAS-CHILDREN
		// .sidebar .menu-item.menu-item-has-children
		%sidebar-menu-menuitemhaschildren-formula {}
		%sidebar-menu-menuitemhaschildren-a-formula {}
		%sidebar-menu-menuitemhaschildren-hvr-formula {}
		
		// SUB-MENU MENU-ITEM
		// .sidebar .sub-menu .menu-item
		%sidebar-submenu-menuitem-formula {}
		%sidebar-submenu-menuitem-a-formula {}
		%sidebar-submenu-menuitem-hvr-formula {}

// -------------------------------------
// EXTEND

	// MENU-ITEM
	%sidebar-menu-menuitem {}
	%sidebar-menu-menuitem-a {}
	%sidebar-menu-menuitem-hvr {}
		// LEVEL 1 MENU-ITEM
		%sidebar-menu-menuitemlvlone {}
		%sidebar-menu-menuitemlvlone-a {}
		%sidebar-menu-menuitemlvlone-hvr {}
		// MENU-ITEM MENU-ITEM-HAS-CHILDREN
		%sidebar-menu-menuitemhaschildren {}
		%sidebar-menu-menuitemhaschildren-a {}
		%sidebar-menu-menuitemhaschildren-hvr {}
		// SUB-MENU MENU-ITEM
		%sidebar-submenu-menuitem {}
		%sidebar-submenu-menuitem-a {}
		%sidebar-submenu-menuitem-hvr {}

// -------------------------------------
// SELECTORS

	// MENU-ITEM
	.sidebar .menu .menu-item {
		@extend %sidebar-menu-menuitem-formula !optional;
		@extend %sidebar-menu-menuitem !optional;
	
		a {
			@extend %sidebar-menu-menuitem-a-formula !optional;
			@extend %sidebar-menu-menuitem-a !optional;
		
			&:hover {
				@extend %sidebar-menu-menuitem-hvr-formula !optional;
				@extend %sidebar-menu-menuitem-hvr !optional;
			}
		}
	}

	// MENU-ITEM
	.minisidebar .menu .menu-item,
	.sidebar-secondary.sidebar .menu .menu-item {
		
		font-size: 0.75rem;
		font-weight: 700;
		border-top: 1px solid #ccc;
		text-align: right;
		
		a {
			padding: 0.75rem 1rem;
			display: block;

			&:hover {}
		}
	}

		// LEVEL 1 MENU-ITEM
		.sidebar > .menu > .menu-item {
			@extend %sidebar-menu-menuitemlvlone-formula !optional;
			@extend %sidebar-menu-menuitemlvlone !optional;
		}
		.sidebar > .menu > .menu-item > a {
			@extend %sidebar-menu-menuitemlvlone-a-formula !optional;
			@extend %sidebar-menu-menuitemlvlone-a !optional;
		}
		.sidebar > .menu > .menu-item > a:hover {
			@extend %sidebar-menu-menuitemlvlone-hvr-formula !optional;
			@extend %sidebar-menu-menuitemlvlone-hvr !optional;
		}

		// MENU-ITEM.MENU-ITEM-HAS-CHILDREN
		.sidebar .menu-item.menu-item-has-children {
			@extend %sidebar-menu-menuitemhaschildren-formula !optional;
			@extend %sidebar-menu-menuitemhaschildren !optional;
		}
		.sidebar .menu-item.menu-item-has-children > a {
			@extend %sidebar-menu-menuitemhaschildren-a-formula !optional;
			@extend %sidebar-menu-menuitemhaschildren-a !optional;
		}
		.sidebar .menu-item.menu-item-has-children > a:hover {
			@extend %sidebar-menu-menuitemhaschildren-hvr-formula !optional;
			@extend %sidebar-menu-menuitemhaschildren-hvr !optional;
		}

		// .SUB-MENU MENU-ITEM
		.sidebar .sub-menu > .menu-item {
			@extend %sidebar-submenu-menuitem-formula !optional;
			@extend %sidebar-submenu-menuitem !optional;
		}
		.sidebar .sub-menu > .menu-item > a {
			@extend %sidebar-submenu-menuitem-a-formula !optional;
			@extend %sidebar-submenu-menuitem-a !optional;
		}
		.sidebar .sub-menu > .menu-item > a:hover {
			@extend %sidebar-submenu-menuitem-hvr-formula !optional;
			@extend %sidebar-submenu-menuitem-hvr !optional;
		}