/* BASE_230 | VARIABLES | 230_BASE | FONTFAMILY - 2017-01-12 */

// -------------------------------------
// VARIABLES

// RELATIVE

	$fontfamily-compact:				arial,sans-serif;
	$fontfamily-narrow:					arial,sans-serif;
	$fontfamily-regular:				arial,sans-serif;
	$fontfamily-wide:					arial,sans-serif;
	$fontfamily-script:					cursive,sans-serif;

// DEFAULT (HTML)

	$fontfamily-default:				arial,sans-serif;

// BODY

	$fontfamily-body:					null;

// HEADLINE

	$fontfamily-headline:				null;

// PARAGRAPH

	$fontfamily-paragraph:				null;

// LIST

	$fontfamily-list:					null;

// BLOCKQUOTE

	$fontfamily-blockquote:				null;

// CITE

	$fontfamily-caption:				null;

// BREADCRUMB

	$fontfamily-breadcrumb:				null;

// META

	$fontfamily-meta:					null;

// TITLES

	$fontfamily-titlepage:				null;
	$fontfamily-titlepost:				null;
	$fontfamily-titlewidget:			null;
	$fontfamily-titlearchive:			null;

// ENTRY

	$fontfamily-entrytitle:				null;
	$fontfamily-entrymeta:				null;

	// SINGLE
	$fontfamily-single-entrytitle:		null;
	$fontfamily-single-entrymeta:		null;

	// PAGE
	$fontfamily-page-entrytitle:		null;
	$fontfamily-page-entrymeta:			null;

	// ARCHIVE
	$fontfamily-archive-entrytitle:		null;
	$fontfamily-archive-entrymeta:		null;

	// BLOG
	$fontfamily-blog-entrytitle:		null;
	$fontfamily-blog-entrymeta:			null;

// REPLY

	$fontfamily-replytitle:				null;

// WIDGET

	$fontfamily-widgettitle:			null;

// ARCHIVE

	$fontfamily-archivetitle:			null;
	$fontfamily-archivedescription:		null;

// HEADER

	$fontfamily-sitetitle:				null;
	$fontfamily-sitedescription:		null;

// COPYRIGHT

	$fontfamily-copyright:				null;

// MENU

	$fontfamily-menu:					null;
	$fontfamily-submenu:				null;
	$fontfamily-menu-primary:			null;
	$fontfamily-submenu-primary:		null;
	$fontfamily-menu-secondary:			null;
	$fontfamily-submenu-secondary:		null;
	$fontfamily-menuitem:				null;