/* BASE_230 | VARIABLES | 230_BASE | FONTSIZE - 2017-01-12 */

// -------------------------------------
// VARIABLES

// RELATIVE

	$fontsize-huge:						4.0;		// 64px
	$fontsize-xxxlrg:					3.5;		// 56px
	$fontsize-xxxlrg:					3.0;		// 48px
	$fontsize-xxlrg:					2.5;		// 40px		H1
	$fontsize-xlrg:						2.0;		// 32px		H2
	$fontsize-lrg:						1.5;		// 24px		H3
	$fontsize-med:						1.125;		// 18px		H4
	$fontsize-sml:						1;			// 16px		P
	$fontsize-xsml:						0.875;		// 14px		H5
	$fontsize-xxsml:					0.75;		// 12px		H6
	$fontsize-xxxsml:					0.625;		// 10px
	$fontsize-tiny:						0.5;		// 8px

// HEADLINE

	$fontsize-h1:						2.5;		// 40px
	$fontsize-h2:						2.0;		// 32px
	$fontsize-h3:						1.5;		// 24px
	$fontsize-h4:						1.125;		// 18px
	$fontsize-h5:						0.875;		// 14px
	$fontsize-h6:						0.75;		// 12px

// DEFAULT

	$fontsize-default:					1.0;		// 16px

// BODY

	$fontsize-body:						1.0;		// 16px

// PARAGRAPH

	$fontsize-p:						1.0;		// 16px

// BLOCKQUOTE, CITE & CAPTION

	$fontsize-blockquote:				1.75;		// 28px
	$fontsize-cite:						0.75;		// 12px
	$fontsize-caption:					0.75;		// 12px

// LIST

	$fontsize-ul:						1.0;		// 16px
	$fontsize-ol:						1.0;		// 16px
	$fontsize-li:						1.0;		// 16px

// TITLES

	$fontsize-titlepage:				null;
	$fontsize-titlepost:				null;
	$fontsize-titlewidget:				null;
	$fontsize-titlearchive:				null;

// USAGE

	$fontsize-sitetitle:				3;
	$fontsize-sitedescription:			1.2;
	$fontsize-copyright:				null;
	$fontsize-meta:						1;
	$fontsize-breadcrumb:				null;