/* BASE_230 | VARIABLES | 230_BASE | LINE - 2017-01-12 */

// -------------------------------------
// VARIABLES

// PIXEL

	$line-tiny:							0.063;		// 1px
	$line-xxxsml:						0.125;		// 2px
	$line-xxsml:						0.313;		// 5px
	$line-xsml:							0.625;		// 10px
	$line-sml:							0.938; 		// 15px
	$line-med:							1.563; 		// 25px
	$line-lrg:							3.125;		// 50px
	$line-xlrg:							6.25;		// 100px
	$line-huge:							12.5;		// 200px

// RELATIVE

	$line-default:						1; 			// 16px
	$line-half:							0.5; 		// 8px
	$line-quarter:						0.25; 		// 4px