/* BASE_230 | VARIABLES | 230_BASE | SPACE - 2017-01-12 */

// -------------------------------------
// VARIABLES

// SPACE

	$space:								1.0;		// 16px
	$space-default:						1.0;		// 16px
	$space-half:						0.5;		// 8px
	$space-quarter:						0.25;		// 4px
	$space-double:						2.0;		// 32px
	$space-triple:						3.0;		// 48px

// SCALE

	$space-tiny:						0.063;		// 1px
	$space-xxxsml:						0.125;		// 2px
	$space-xxsml:						0.313;		// 5px
	$space-xsml:						0.625;		// 10px
	$space-sml:							0.938; 		// 15px
	$space-med:							1.563; 		// 25px
	$space-lrg:							3.125;		// 50px
	$space-xlrg:						6.25;		// 100px
	$space-huge:						12.5;		// 200px

// MARGIN

	$margin-default:					1.0;		// 16px
	$margin-half:						0.5;		// 8px
	$margin-quarter:					0.25;		// 4px
	$margin-double:						2.0;		// 32px
	$margin-triple:						3.0;		// 48px

// PADDING

	$padding:							1.0;		// 16px
	$padding-default:					1.0;		// 16px
	$padding-half:						0.5;		// 8px
	$padding-quarter:					0.25;		// 4px
	$padding-double:					2.0;		// 32px
	$padding-triple:					3.0;		// 48px

// BORDER

	$border:							1.0;		// 16px
	$border-default:					1.0;		// 16px
	$border-half:						0.5;		// 8px
	$border-quarter:					0.25;		// 4px
	$border-double:						2.0;		// 32px
	$border-triple:						3.0;		// 48px







// OBSOLETE - DELETE WHEN CLEAR

	// SPACE

	//$space-default:			20px;
	$space-default-half:	10px;
	$space-default-quarter:	5px;
	$space-default-double:	40px;

	$pad-default:			20px;
	$pad-default-half:		10px;
	$pad-default-quarter:	5px;
	$pad-default-double:	40px;