/* BASE_230 | GUI | 230_BASE | BUTTON - 2016-01-12 */

// -------------------------------------
// EXTEND

// BUTTON

	%button {
		@extend %fontfamily-bold !optional;
		@extend %fontweight-thick !optional;
		@extend %lineheight-single !optional;
		@extend %textcenter !optional;

		border-width: 0;
		border-radius: 3pt;
		cursor: pointer;
		display: inline-block;
		color: #fff;
		background-color: $color-link;
		padding: #{$space-half}rem #{$space-default}rem;
		text-transform: uppercase;
	}
	%button-link {
		color: #fff;
		background-color: $color-link;
		text-decoration: none;
	}
	%button-hover {
		color: #fff;
		background-color: $color-hover;
		text-decoration: none;
	}

// BUTTON-SIZE

	%button-tiny {
		padding: #{$space-tiny}rem;
	}
	%button-xsml {
		padding: #{$space-xxxsml}rem;
	}
	%button-sml {
		padding: #{$space-xxsml}rem;
	}
	%button-med {
		padding: #{$space-xsml}rem;
	}
	%button-lrg {
		padding: #{$space-default}rem;
	}
	%button-xlrg {
		padding: #{$space-double}rem;
	}
	%button-huge {
		padding: #{$space-triple}rem;
	}

// -------------------------------------
// SELECTORS

// BUTTON

	.button {
		@extend %button !optional;
	}
	.button:link {
		@extend %button-link !optional;
	}
	.button:hover {
		@extend %button-hover !optional;
	}

	.button.valigntop {
		@extend %verticalaligntop !optional;
	}
	.button.valignbottom {
		@extend %verticalalignbottom !optional;
	}

	.button.display-block {
		@extend %display-block !optional;
	}

// BUTTON-SIZE

	.button-tiny {
		@extend %button-tiny !optional;
	}
	.button-xsml {
		@extend %button-xsml !optional;
	}
	.button-sml {
		@extend %button-sml !optional;
	}
	.button-med {
		@extend %button-med !optional;
	}
	.button-lrg {
		@extend %button-lrg !optional;
	}
	.button-xlrg {
		@extend %button-xlrg !optional;
	}
	.button-huge {
		@extend %button-huge !optional;
	}